@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--poppins-regular);
}

.division-container {
  border-bottom: 2px solid #f57302;
}

.prof-list li,
.exp-list li {
  padding-left: 30px;
  margin-bottom: 10px;
}

.prof-list li {
  background: url("../../public/images/bullet-IG.svg") no-repeat left center;
  background-size: 20px;
}

.exp-list li:first-child {
  background: url("../../public/images/project-Icon.svg") no-repeat left center;
  background-size: 20px;
}
.exp-list li:nth-child(2) {
  background: url("../../public/images/satisfiy-customers.svg") no-repeat left center;
  background-size: 20px;
}
